@font-face{
    font-family:"Fredoka";
    src:url("/assets/css/Fredoka-VariableFont.ttf");
}

:root{
    --titleColour:lightslategrey;
    --contentColour:slategrey;

    --titleTextColour:white;
    --textColour:white;
}

body{
    background-image:url("/assets/images/bg.png");
    background-size: 48px;
    image-rendering:pixelated;
    font-family:"Fredoka";
    font-size:25;
    margin:0;
}

header{
    margin-left:auto;
    margin-right:auto;
    max-width:1440px;
    display:flex;
}

header img{
    min-width:0;
}

#container{
    display:flex;
    flex-direction:row;
    width:90%;
    max-width:1296px;
    margin-left:auto;
    margin-right:auto;
}

.title{
    background:var(--titleColour);
    padding-left: 10px;
    color:var(--titleTextColour);
}

.content{
    background:var(--contentColour);
    color:var(--titleTextColour);
    padding:15px;
}

p{
    margin:0;
}

main{
    flex-grow:1;
    width:auto;
    margin-left:5px;
}

aside{
    width:25%;
    margin-right:5px;
}