@font-face{
    font-family:"Fredoka";
    src:url("/assets/css/Fredoka-VariableFont.ttf");
}

:root{
    --title:rgb(66, 67, 79);;
    --content:rgb(45, 45, 53);;

    --titleText:rgb(255, 255, 243);
    --text:rgb(255, 255, 243);
    --mutedText:rgb(129, 141, 149);

    --navButton:rgb(255, 234, 179);
    --navButtonText:rgb(31, 31, 53);

    --navButtonHover:rgb(220, 114, 78);
    --navButtonHoverText:var(--text);

    --navButtonOdd:rgb(255, 236, 210);
    --navButtonOddHover:rgb(240, 171, 106);

    --link:var(--navButton);
    --linkHover:var(--text);

    --borderRad:25px;
}

body{
    background-image:url("/assets/images/bg.png");
    background-size: 48px;
    image-rendering:pixelated;
    font-family:"Fredoka";
    font-size:16;
    margin:0;
}

header{
    margin-left:auto;
    margin-right:auto;
    max-width:1440px;
    display:flex;
}

header a, header a img{
    display:flex;
    min-width:0;
}

#container{
    display:flex;
    flex-direction:row;
    width:90%;
    max-width:1296px;
    margin-left:auto;
    margin-right:auto;
}

.box{
    border-radius:var(--borderRad);
    filter:drop-shadow(#0006 7px 7px 10px);
    margin-top:25px;
}

.title{
    background:var(--title);
    color:var(--titleText);
    font-size:25;
    font-weight:bold;
    padding: 10px;
    padding-left: 25px;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
    border-top-left-radius:var(--borderRad);
    border-top-right-radius:var(--borderRad);
}

.content{
    background:var(--content);
    color:var(--text);
    padding:15px 25px 15px 25px;
    border-bottom-left-radius:var(--borderRad);
    border-bottom-right-radius:var(--borderRad);
}

p{
    margin:0;
}

main{
    flex-grow:1;
    width:auto;
    margin-left:10px;
    margin-top:-25px;
}

aside{
    width:20%;
    margin-right:10px;
    margin-top:-25px;
}

small{
    color:var(--mutedText);
}

a{
    color:var(--link);
    text-decoration:dashed underline;
}

a:hover{
    color:var(--linkHover);
}

.grid{
    grid-gap: 25px;
}

#navigation{
    padding-top:5px !important;
}

.navButton{
    color:var(--navButtonText);
    background:var(--navButton);
    padding:2px;
    font-size:25;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    display:block;
    border-radius:10px; 
    text-align:center;
    transition:none;
    text-decoration: none;
}

.navButton:hover{
    transition:color 0.25s ease, background-color 0.25s ease;
    color:var(--navButtonHoverText);
    background:var(--navButtonHover);
}

#statuscafe-username {
    color:var(--text);
}

#navigation > .navButton:nth-of-type(even){
    background:var(--navButtonOdd);
}

#navigation > .navButton:nth-of-type(even):hover{
    background:var(--navButtonOddHover);
}