@font-face{
    font-family:"Fredoka";
    src:url("/assets/css/Fredoka-VariableFont.ttf");
}

:root{
    --titleColour:rgb(61, 63, 78);;
    --contentColour:rgb(45, 45, 53);;

    --titleTextColour:rgb(253, 253, 221);
    --textColour:rgb(253, 253, 221);
}

body{
    background-image:url("/assets/images/bg.png");
    background-size: 48px;
    image-rendering:pixelated;
    font-family:"Fredoka";
    font-size:25;
    margin:0;
}

header{
    margin-left:auto;
    margin-right:auto;
    max-width:1440px;
    display:flex;
}

header img{
    min-width:0;
}

#container{
    display:flex;
    flex-direction:row;
    width:90%;
    max-width:1296px;
    margin-left:auto;
    margin-right:auto;
}

#box{
    border-radius:1em;
    filter:drop-shadow(#0006 7px 7px 10px);
}

.title{
    background:var(--titleColour);
    color:var(--titleTextColour);
    padding: 10px;
    padding-left: 25px;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}

.content{
    background:var(--contentColour);
    color:var(--textColour);
    padding:25px;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
}

p{
    margin:0;
}

main{
    flex-grow:1;
    width:auto;
    margin-left:5px;
}

aside{
    width:25%;
    margin-right:5px;
}