@font-face{
    font-family:"RetroByte";
    src:url("/assets/css/RetroByte.ttf");
}

:root{
    
}

body{
    background-image:url("/assets/images/bg.png");
    background-size: 48px;
    image-rendering:pixelated;
    font-family:"RetroByte";
    font-size:25;
    margin:0;
}

p{
    margin:0;
}

main{
    margin:auto;
    background:red;
    max-width:1024px;
}

header{
    max-width: 1440px;
    width:max-content;
}