@font-face{
    font-family:"RetroByte";
    src:url("/assets/css/RetroByte.ttf");
}

:root{
}

body{
    background-image:url("/assets/images/bg.png");
    background-size: 48px;
    image-rendering:pixelated;
    font-family:"RetroByte";
    font-size:25;
    margin:0;
}

p{
    margin:0;
}

#container{
    display:flex;
    flex-direction:row;
}

main{
    background:red;
    flex-grow:1;
    width:auto;
}

aside{
    background:blue;
    width:30%
}

header{
    margin-left:auto;
    margin-right:auto;
    max-width:1440px;
    display:flex;
}

header img{
    min-width:0;
}