@font-face{
    font-family:"Fredoka";
    src:url("/assets/css/Fredoka-VariableFont.ttf");
}

:root{
    --titleColour:rgb(66, 67, 79);;
    --contentColour:rgb(45, 45, 53);;

    --titleTextColour:rgb(255, 255, 243);
    --textColour:rgb(255, 255, 243);

    --navButton:rgb(255, 234, 179);
    --navButtonTextColour:rgb(9, 9, 23);
}

body{
    background-image:url("/assets/images/bg.png");
    background-size: 48px;
    image-rendering:pixelated;
    font-family:"Fredoka";
    font-size:25;
    margin:0;
}

header{
    margin-left:auto;
    margin-right:auto;
    max-width:1440px;
    display:flex;
}

header a, header a img{
    display:flex;
    min-width:0;
}

#container{
    display:flex;
    flex-direction:row;
    width:90%;
    max-width:1296px;
    margin-left:auto;
    margin-right:auto;
}

.box{
    border-radius:1em;
    filter:drop-shadow(#0006 7px 7px 10px);
    margin-top:25px;
}

.title{
    background:var(--titleColour);
    color:var(--titleTextColour);
    padding: 10px;
    padding-left: 25px;
    text-shadow: 2px 2px black;
    letter-spacing: 2px;
    border-top-left-radius:1em;
    border-top-right-radius:1em;
}

.content, .navigation{
    background:var(--contentColour);
    color:var(--textColour);
    padding:25px;
    border-bottom-left-radius:1em;
    border-bottom-right-radius:1em;
}

p{
    margin:0;
}

main{
    flex-grow:1;
    width:auto;
    margin-left:10px;
    margin-top:-25px;
}

aside{
    width:20%;
    margin-right:10px;
    margin-top:-25px;
}

.navigation{
    padding-top:15px !important;
}

.navButton{
    color:var(--navButtonTextColour);
    background:var(--navButton);
    padding:5px;
    margin-top:10px;
    margin-left:auto;
    margin-right:auto;
    width:auto;
    display:block;
    border-radius:10px; 
    text-align:center;
}