@font-face {
    font-family:"F";
    src: url("/assets/fonts/");
}

body{
    background-image:url("/assets/images/bg.png");
    background-size: 48px;
    image-rendering:crisp-edges;
};

main{
    margin:auto;
};